@media screen and (max-width: 400px) {
    .header__menu {
        display: none;

    }

    .header__logo img {
        width: 50px;

    }

    .wrapper {
        max-width: 340px;
        padding: 0 10px;
    }

    .header__top {
        padding-top: 20px;
    }

    .nav__btn__mobile {
        display: flex;
    }

    .header__title h2 {
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;
        color: #D67E35;

    }

    .header__title h1 {
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        color: #D67E35;
    }

    .header__title p {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .header__title {
        text-align: center;
        width: 340px;
    }

}