@media screen and (max-width: 375px) {
    .header__menu {
        display: none;

    }

    .header__logo img {
        width: 50px;

    }

    .wrapper {
        max-width: 340px;
        padding: 0 10px;
    }

    .header__top {
        padding-top: 20px;
    }

    .nav__btn__mobile {
        display: flex;
    }

    .header__title h2 {
        font-weight: normal;
        font-size: 30px;
        line-height: 34px;
        color: #D67E35;

    }

    .header__title h1 {
        font-weight: normal;
        font-size: 40px;
        line-height: 46px;
        color: #D67E35;
    }

    .header__title p {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .header__title {
        text-align: center;
        width: 340px;
    }
.footter{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;


}
.box{
    height: 350px;
    width: 310px;
}
    .footter__logo{
        margin-top: 0;
        margin-bottom: 0;
    }
    .footter__gold{
        color: #BC9060;
    }
    .footter__text1{
        margin-bottom: 0;
    }
    .box div{
        margin-left:0;
        margin-right: 0;


    }
    .qwerty{
        margin-bottom: 30px;
    }
}