:root{
    --l-grey: #c7c5c5;
    --d-grey: #726f6f;
}
.fs{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 40px;
}
.container{
    width: 1000px;
    border: 5px solid var(--d-grey);
    padding: 5px;
    margin:  0 auto ;
    border-radius: 8px ;

}
.header{
    height: 300px;
    background: var(--l-grey);


}
.main{
    height: 700px;
    background: white;
    display: flex;
    margin-top: 5px;
}
.BCDE{
    width: 70%;
    background: white;


}
.F{
    width: 30%;
    background: var(--l-grey);
    margin-left: 5px;

}
.B{
    height: 50%;
    background: var(--l-grey);



}
.CDE{
    height: 50%;
    display: flex;
    column-gap: 5px;

}
.C{
    width: 33.33%;
    background: var(--l-grey);


}
.D{
    width: 33.33%;
    background: var(--l-grey);
}
.E{
    width: 33.33%;
    background: var(--l-grey);
}