.c-light{
    background-color: #0faff3;
}
.c-grey{
    background-color: #d3cccc;
}
.c-dark{
    background-color: #232649;
}
.white{
    color: #ffffff;
}
.bwhite{
    background-color: #ffffff;
}
.radius{
    border-radius: 10px;
}
.radius50{
    border-radius: 50%;
}
.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
.h500{
    height: 500px;
}
.h2000{
    height: 2200px;
}
.w200{
    width: 200px;
}
.w300{
    width: 300px;
}
.w50{
    width: 50%;
}
.ml30{
    margin-left: 30px;
}
.soc-icon{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:30px ;
    column-gap: 10px;
}
.soc-icon__link{
    height: 5px;
    width: 40px;
}
.sec-floor{
    height: 120px;
    box-sizing: border-box;
    display: flex;

}
.sec-floor__left{
    /*height: 120px;*/
    /*background-color: red;*/
    padding: 20px 0 40px 80px;
    box-sizing: border-box;
}
.sec-floor__logo{
    height: 70px;
    width: 160px;
}
.sec-floor__right{
    /*height: 120px;*/
    /*background-color: #00ff33;*/
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding-left: 40px;
}
/*.sec-floor__links{
    height: 10px;
    width: 70px;
}*/
a{
    color: #232649;
    font-size: 25px;
    text-decoration: none;
}

.third-floor__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}
.third-floor__text{
    width: 50%;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}
.third-floor__header button{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    margin-top: 40px;
    border: none;
    background-color: #232649;
    color: white;
}
.products__title{
    text-align: center;
}
.products{
    padding: 40px 90px;
}
.products__grid{
    border: 3px solid #0faff3;
    border-radius: 30px;
    padding: 30px 45px;

}
.products__list{
    display: flex;
    column-gap: 45px;
}
.products__item{
    flex-grow: 1;
}
.products__item_imag{
    height: 200px;
    background-color: #232649;
}
.products__item p{
    text-align: center;
    color: #232649;

}
.products__title{
    color: #232649;
}
.five{
    display: flex;

}
.five__left, .five__center, .five__right {
   height: 500px;
   flex-grow: 1;
    background-color: #232649;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.krug{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #d3cccc;


}
.five__border{
    border: 2px solid #0faff3;
    padding: 40px 70px;
    border-radius: 15px;

}
.five p{
    text-align: center;
    color: white;

}
.name{
    padding-top: 20px;
    font-size: 24px;
    color: white;
    text-align: center;
}
.five__lorem{
    padding-top: 10px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}
/*.about__card{
    border: 2px solid transparent;
    padding: 40px 70px;
    border-radius: 15px;
    transition: all 0.3s;
    cursor: pointer;
}*/
.Main h2{
    padding: 80px 0;
    margin: 0;
    text-align: center;
}
.Main__header1, .Main__header2{
    height: 500px;
    width: auto;
    margin: 0 130px;
    display: flex;
    column-gap: 130px;
}
.Main__header1{
    margin-bottom: 120px;
}
.Main__blocks{

    height: 540px;
    width: 33.3%;
    border: 3px solid #0faff3;
    border-radius: 20px;
}
.Main__blocks__block{
    height: 220px;
    flex-grow: 1;
    margin: 30px;
    border-radius: 30px;
}
.Main__header1 span{
    font-size: 20px;
}
.a{
    padding-left: 380px;

}
.Main__text{
    margin-right: 30px;
}
.Main__line{
    margin-top:40px ;
    height: 3px;
    width: 100%;
}
.Main__footer{
    height: 58px;
    width: 100%;
    display: flex;
}
.Main__footer__logo{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    margin: 11px 0 10px 30px;
}
.Main__footer__items__papa{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 10px 30px 10px 0;
    column-gap: 10px;
}
.Main__footer__items{
    height: 31px;
    width: 31px;
    border-radius: 50%;

}
.Main__end{
    height: 600px;
    width: 2280px;
    margin: 200px  auto 0 auto;
    display: flex;
}
.Main__end__left, .Main__end__right{
    height: 600px;
    width: 50%;
}
.Main__end__left__text{
    margin: 40px 140px 0 140px;
    line-height: 30px;
    font-size: 20px;
    color: #0faff3;
}
.Main__end h3{
    margin: 110px 0 0 140px;
    color: #0faff3;
}
.Main__end__logo{
    height: 80px;
    width: 300px;
    border-radius: 50px;
    margin: 65px 0 0 140px;
}
.cdark{
    color: #232649;
}
.Main__end__right h3{
    color: #232649;
}
.foooter{
    height: 300px;
}
.foooter__main{
    width: 40%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 40px;
}
.foooter_main__krug{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #d3cccc;
}
.foooter__main__line{
    height: 3px;
    width: 800px;
    background-color: #0ff3f3;
    margin: 70px auto;
}





























